@use '@angular/material' as mat;
@import "https://fonts.googleapis.com/icon?family=Material+Icons";

:host {
  --mat-icon-color: #ffee00;
    display: block;
    padding: 10px;
    border: 1px dashed var(--mat-sys-primary-container);
    background-color: var(--mat-sys-inverse-primary);
}

.title-style {
  color: var(--mat-sys-primary);
}
