:host {
  //--mdc-filled-text-field-label-text-color: #bdf86b;
  //--mat-form-field-filled-label-display: block;
}

.main {
    height: 50%;
    padding: 0 10%;
}
.block-top {
    display: flex;
    align-items: center;
    justify-content: center;
}
.left-side, .right-side {
    width: 50%;
}
