<!-- * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * -->

<div class="main-wrapper">
  <div class="main-block">
    <div class="block-top">
      <div class="left-side">
        <h2>App component</h2>
        <app-component-button></app-component-button>
        <app-component-button-toggle-group></app-component-button-toggle-group>
        <mat-slide-toggle>Slide me on index!</mat-slide-toggle>
        <form>
          <app-component-mat-select></app-component-mat-select>
        </form>
      </div>
      <div class="right-side">
        <h1>Hello, {{ title }}</h1>
        <p>Congratulations! Your app is running. 🎉</p>
      </div>
    </div>
  </div>

  <div class="main-block">
    <h1>Angular Router App</h1>
    <nav>
      <ul>
        <li><a routerLink="/first-comp" routerLinkActive="active" ariaCurrentWhenActive="page">First Component</a></li>
        <li><a routerLink="/second-comp" routerLinkActive="active" ariaCurrentWhenActive="page">Second Component</a></li>
        <li><a routerLink="/dashboard" routerLinkActive="active" ariaCurrentWhenActive="page">Dashboard</a></li>
      </ul>
    </nav>
  </div>

  <!-- The routed views render in the <router-outlet>-->
  <div class="main-block router-block">
    <router-outlet></router-outlet>
  </div>
</div>
