.main {
    padding: 0 10%;
    border: 3px solid var(--mat-sys-primary);
}
.block-top {
    display: flex;
    align-items: center;
    justify-content: center;
}
.left-side, .right-side {
    width: 50%;
}
