<p>first works!</p>
<button>Click me!</button>
<div>
  <h3>Material 3</h3>
  <br>
  <button mat-stroked-button>stroked</button>
  <button mat-fab extended>
    <mat-icon>favorite</mat-icon>
    Basic
  </button>
  
  <mat-form-field class="mat-select-custom">
    <mat-label>Choose an option</mat-label>
    <mat-select>
      <mat-option value="option1">Option 1</mat-option>
      <mat-option value="option2" disabled>Option 2 (disabled)</mat-option>
      <mat-option value="option3">Option 3</mat-option>
    </mat-select>
  </mat-form-field>
</div>
