@use "@angular/material" as mat;

button.mat-mdc-raised-button {
  border-radius: 5px;
  @include mat.button-overrides((
    protected-container-color: var(--mat-sys-primary),
    protected-label-text-color: var(--mat-sys-on-primary),
    protected-label-text-size: 16px,
    protected-container-height: 30px,
    protected-horizontal-padding: 7px,
  ));
}
